html, body {
  height: 100%;
  width: 100%;
}
#app {
  height: 100%;
  width: 100%;
}

.playlist {
  text-align: center;
}

.playing {
  font-weight: bold;
}

.not-playing {
  font-weight: normal;
}

